.fixed-size-image {
  max-width: 160px !important;
  object-fit: scale-down !important;
}

.fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.fade-in.loaded {
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
}
