<p-card class="select-none">
    <p class="m-1">Everything you see here is made possible thanks to free-tier cloud hosting—services that let you run
        apps and databases online for free. It’s a simple way to learn, test, and launch your ideas.</p>
    <h4 class="text-primary m-1 mt-3 mb-3">Backend</h4>
    <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
    <h4 class="text-primary m-1 mt-3 mb-3">Frontend</h4>
    <p class="m-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
</p-card>
