<p-card class="select-none">
    <p>Everything you see here is made possible thanks to <b class="rainbow_text_animated">free-tier</b> cloud
        hosting—services that let you run apps and databases online for <b class="rainbow_text_animated">free</b>. It’s
        a simple way to learn, test, and launch your ideas.</p>
    <h4>Backend</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
    <h4>Database</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
    <h4>Frontend</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
</p-card>
