<p-menubar #menuBar [model]="items" breakpoint="720px"
           [style]="{ 'border-radius': '6px', 'border': '1px solid var(--p-content-border-color)' }">
    <ng-template #item let-item let-root="root">
        <a pRipple [routerLink]="item.routerLink" (click)="onItemSelect(item)"
           class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
        </a>
    </ng-template>

    <ng-template #end>
        <div class="white-space-nowrap align-content-center select-none p-1 mr-1">
            <div class="rainbow_text_animated font-bold text-lg">{{ selectedItemLabel }}</div>
            <div class="status-msg">
                <i style="font-size: 0.5rem" class="pi {{statusIcon}}"></i>&nbsp;
                BACKEND&nbsp;
                {{ statusMsg }}
            </div>
        </div>
        <p-tag [severity]="'secondary'" class="select-none p-1 gap-0 mr-1">
            <p-avatar class="pi rounded-avatar" shape="circle" image="{{statusImg}}"/>
        </p-tag>
        <p-tag [severity]="'secondary'" class="select-none p-1 gap-0">
            <a pRipple (click)="toggleDarkMode()">
                <p-avatar shape="circle" class="pi" [ngClass]="{ 'pi-moon': !darkTheme, 'pi-sun': darkTheme }"/>
            </a>
        </p-tag>
    </ng-template>
</p-menubar>

<!-- Route content -->
<div class="p-0">
    <router-outlet></router-outlet>
</div>

<footer class="select-none p-4 surface-50 text-color" style="border: 1px solid var(--p-content-border-color);border-radius: 6px;">
    <span class="text-color-secondary font-bold text-base">Footer</span>
</footer>
