<p-menubar [model]="items">
    <ng-template #start>
        <div class="flex items-center p-2">
            <span class="font-bold text-lg">MyApp</span>
        </div>
    </ng-template>

    <ng-template #item let-item let-root="root">
        <a pRipple [routerLink]="item.routerLink" class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
        </a>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-avatar class="pi pi-user" shape="circle"/>
        </div>
    </ng-template>
</p-menubar>

<!-- Route content -->
<div class="p-0">
    <router-outlet></router-outlet>
</div>

<footer class="p-4">
    <span class="font-bold text-lg">Footer</span>
</footer>
