<p-menubar [model]="items">
    <ng-template #item let-item let-root="root">
        <a pRipple [routerLink]="item.routerLink" (click)="onItemSelect(item)"
           class="flex items-center p-menubar-item-link">
            <span>{{ item.label }}</span>
        </a>
    </ng-template>

    <ng-template #end class="p-menubar-end">
        <div class="select-none flex-col align-items-center p-1 gap-1">
            <div class="font-bold text-lg">{{ selectedItemLabel }}</div>
            <div class="status-msg">BACKEND {{ statusMsg }}</div>
        </div>
        <p-tag [severity]="'secondary'" class="select-none p-1 gap-0 align-items-center">
            <p-avatar class="pi rounded-avatar" shape="circle" image="{{statusImg}}"/>
        </p-tag>
        <p-tag [severity]="'secondary'" class="select-none p-1 gap-0 align-items-center">
            <a pRipple (click)="toggleDarkMode()">
                <p-avatar shape="circle" class="pi" [ngClass]="{ 'pi-moon': !darkTheme, 'pi-sun': darkTheme }"/>
            </a>
        </p-tag>
    </ng-template>
</p-menubar>

<!-- Route content -->
<div class="p-0">
    <router-outlet></router-outlet>
</div>

<footer class="p-4 surface-50 text-color">
    <span class="font-bold text-lg">Footer</span>
</footer>
