<p-dataView #dv [value]="setsData()" [layout]="layout">
    <ng-template #header>
        <div class="flex justify-content-between">
            <div class="flex justify-start">
                <span class="text-xl font-semibold align-content-center">Header</span>
            </div>
            <div class="flex justify-end">
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i [ngClass]="{ 'pi-bars': item.value === 'list', 'pi-table': item.value === 'grid' }"
                           class="pi"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </div>
    </ng-template>

    <ng-template #grid let-items>
        <div class="flex-row justify-content-center md:justify-content-start grid grid-nogutter">
            <div *ngFor="let set of items" class="flex-column align-content-evenly p-2 rounded hover:bg-black-alpha-10 hover:shadow-1">
                <p-tag [severity]="'secondary'" class="flex relative p-1 h-6rem w-10rem md:w-8rem">
                    <img class="rounded w-full fixed-size-symbol" [src]="set.images.symbol"/>
                    <span class="align-content-center">{{ set.releaseDate }}<br>{{ set.name }}</span>
                </p-tag>
                <div class="flex justify-content-center p-1 w-10rem md:w-8rem">
                    <img class="align-items-center rounded w-full fixed-size-logo"
                         [src]="set.images.logo" [alt]="set.name"/>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #list let-items>
        <div *ngFor="let set of items">
            <p-panel header="{{ set.releaseDate }} {{ set.name }}">
                <img [src]="set.images.logo" alt="{{ set.name }} logo" class="fixed-size-logo">
            </p-panel>
        </div>
    </ng-template>

    <ng-template #footer>
        <div class="flex justify-content-between">
            <div class="flex justify-start">
                <span class="text-xl font-semibold align-content-center">Footer</span>
            </div>
        </div>
    </ng-template>
</p-dataView>
