<p-dataView #dv [value]="setsData()" [layout]="layout">
    <ng-template #header>
        <div class="flex justify-content-between">
            <div class="flex justify-start md:pl-4 lg:pl-8">
                <p-dropdown [options]="sortOptions" (onChange)="sortSets()" [(ngModel)]="sortKey"/>
                <p-button *ngIf="sortOrder === -1" icon="pi pi-sort-amount-down" (onClick)="setSortOrder(1)"></p-button>
                <p-button *ngIf="sortOrder === 1" icon="pi pi-sort-amount-up" (onClick)="setSortOrder(-1)"></p-button>
            </div>
            <div class="flex justify-end md:pr-8">
                <p-selectButton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i [ngClass]="{ 'pi-bars': item.value === 'list', 'pi-table': item.value === 'grid' }"
                           class="pi"></i>
                    </ng-template>
                </p-selectButton>
            </div>
        </div>
    </ng-template>

    <ng-template #grid let-items>
        <div class="justify-content-center grid grid-nogutter">
            <div *ngFor="let set of items" class="select-none hover-effect p-2" pRipple>
                <div class="flex justify-content-center bg-white-alpha-90 border-round w-10rem p-2">
                    <img class="fixed-size-logo" [src]="set.images.logo" [alt]="set.name"/>
                </div>
                <p-tag [severity]="'secondary'" class="h-4rem w-10rem p-2">
                    <img class="fixed-size-symbol" [src]="set.images.symbol" [alt]="set.name"/>
                    <div class="flex flex-column align-items-center">
                        <span class="pl-2">{{ set.total }} cards</span>
                        <span class="pl-2">{{ set.releaseDate }}</span>
                    </div>
                </p-tag>
            </div>
        </div>
    </ng-template>

    <ng-template #list let-items>
        <div *ngFor="let set of items">
            <p-panel header="{{ set.releaseDate }} {{ set.name }}">
                <img [src]="set.images.logo" alt="{{ set.name }} logo" class="fixed-size-logo">
            </p-panel>
        </div>
    </ng-template>
</p-dataView>
