<p-dataView #dv [value]="sets" [layout]="layout">
    <ng-template #header>
        <div class="flex justify-between items-center" style="height: 100px;">
            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">Header</span>
            <div class="flex items-center">
                <span class="mr-2">View Mode:</span>
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i [ngClass]="{ 'pi-bars': item.value === 'list', 'pi-table': item.value === 'grid' }"
                           class="pi"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </div>
    </ng-template>

    <ng-template #grid let-items>
        <div *ngFor="let series of uniqueSeries">
            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{ series }}</span>
            <div class="grid grid-cols-12 gap-0">
                <div *ngFor="let set of items" [style.display]="set.series === series ? 'block' : 'none'">
                    <div class="p-0 border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded">

                        <div class="bg-surface-50 flex justify-center rounded p-1">
                            <div class="relative mx-auto">
                                <img class="rounded w-full fixed-size-logo"
                                     [src]="set.images.logo"
                                     [alt]="set.name"
                                     style="max-width: 300px"/>
                                <p-tag [severity]="'secondary'" styleClass="dark:!bg-surface-900" [style.left.px]="4"
                                       [style.top.px]="4" class="absolute">
                                    <img class="rounded w-full fixed-size-symbol" [src]="set.images.symbol"/>
                                    {{ set.releaseDate + ' — ' + set.name }}
                                </p-tag>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #list let-items>
        <div *ngFor="let set of items">
            <p-panel header="{{ set.releaseDate }} {{ set.name }}">
                <img [src]="set.images.logo" alt="{{ set.name }} logo">
            </p-panel>
        </div>
    </ng-template>

    <ng-template #footer>
        <div class="flex justify-end">
            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">Footer</span>
        </div>
    </ng-template>
</p-dataView>
