@use 'assets/lara-dark-indigo_theme.scss' as *;

body {
  margin: 0;
  font-family: var(--font-family), serif;
  background-color: #f9f9f9;
}

.hover-effect {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.p-menubar {
  padding: 10px 8px 10px 8px !important;
}

.p-menubar-end {
  display: flex !important;
}
